// imports
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@0,700;1,400&family=Sanchez&display=swap');

// variables
$blue: #14bcff;
$paleBlue: #E8F6FD;
$green: #99DA67;
$dark-green: #6c9b48;
$red: #FF5050;

$roboto: 'Roboto', sans-serif;
$sanchez: 'Sanchez', serif;

// mixins
@mixin greenButton {
    background-color: $green;
    border-top: none;
    border-right: none;
    border-bottom: 3px solid $dark-green;
    border-left: 3px solid $dark-green;
    font-size: 1.1rem;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

@mixin greenButtonActive {
    border-top: none;
    border-right: none;
    border-bottom: 0px solid $dark-green;
    border-left: 0px solid $dark-green;
}

@mixin whiteButton {
    background-color: white;
    border-top: none;
    border-right: none;
    border-bottom: 3px solid #cfcfcf;
    border-left: 3px solid #cfcfcf;
    font-size: 1.1rem;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

@mixin whiteButtonActive {
    border-top: none;
    border-right: none;
    border-bottom: 0px solid;
    border-left: 0px solid;
}

@mixin greyButton {
    background-color: #303030;
    border-top: none;
    border-right: none;
    border-bottom: 3px solid #666666;
    border-left: 3px solid #666666;
    font-size: 1.1rem;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

@mixin greyButtonActive {
    border-top: none;
    border-right: none;
    border-bottom: 0px solid;
    border-left: 0px solid;
}

// styles
* {
    margin: 0;
    padding: 0;
    font-family: $roboto;
}

h1 {
    font-size: 1.8rem;
    margin: 0 0 15px 0;
}

h4 {
    margin: 0 0 10px 0;
}

.nav-logo-container a {
    height: 45px;
}

// Nav
.navbar {
    display: grid;
    grid-template-columns: 20% 25% 40% 15%;
    background-color: $blue;
    height: 8vh;
}

.nav-logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-logo-container a {
    height: 45px;
}

.nav-logo {
    height: 45px;
}

.nav-user-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-user {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px 0 0;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.nav-user-icon {
    height: 20px;
    margin: 0 0 5px 5px;
}

.loginBtn{
    @include greenButton();
}

.loginBtn:active {
    @include greenButtonActive();
}

.menu-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-icon {
    height: 40px;
    cursor: pointer;
}

.nav-menu-container {
    visibility: hidden;
    opacity: 0;
    background: $blue;
    width: 100%;
    position: absolute;
    height: 92vh;
    transform: translate(0, 8vh);
    text-align: right;
    transition: all .2s ease-in-out;
}

.nav-menu {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: space-around;
    height: 60%;
    margin: 0 40px 0 0;
}

.show-menu{
    visibility: visible;
    opacity: 1;
    display: flex;
    justify-content: flex-end;
}

.nav-menu-item {
    text-decoration: none;
    color: black; 
    font-size: 1.2rem;
}

.nav-menu-item:hover{
    color: rgb(56, 56, 56);
}

// Index
.container-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 60px 15px;
}

.header-home {
    margin: 35px 0;
    text-align: center;
}

.search-container {
    margin: 0 0 35px 0;
}

.home-search-form {
   display: flex; 
}

.home-search-submit {
    @include greenButton();
    margin: 0 0 0 2px;
}

.home-search-submit:active {
    @include greenButtonActive();
}

// posting
.container-post {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.posts {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
}

.post {
  flex: 45%;
  margin: 2%;
}
.post-img {
  width: 100%;
  height: 80%;
  object-fit: cover;
}

.post-price {
  font-weight: bold;
}

// search results 
.posts-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post-container {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    box-shadow:0 5px 8px 0 rgba(0,0,0,0.2),0 4px 12px 0 rgba(0,0,0,0.19);
    border-radius: 10px;
    width: 80%;
    height: 100px;
    padding: 0px 10px;
    overflow: hidden;
    text-overflow:ellipsis;
}

.post-title {
    margin: 10px 0 0 0;
}

.post-description {
    text-overflow:ellipsis;
    overflow:hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

// new posts
.post-form-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.post-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $paleBlue;
    padding: 5%;
    border-radius: 10px;
    width: 85%;
    margin: auto;
}

.step-container {
    display: flex;
    width: 60%;
    justify-content: center;
    margin: 0 0 10px 0;
}

.step-container-hidden {
    display: none;
}

.new-post-input {
    width: 95%;
    border: none;
    padding: 7px;
    border-radius: 5px;
    margin: 10px 0;
    border: 1px solid $blue;
}

.new-post-textarea {
    width: 95%;
    padding: 7px;
    font-size: .8rem;
    border-radius: 5px;
    border: none;
    resize: none;
    margin: 5px 0;
    border: 1px solid $blue;
}

.new-post-upload {
    margin: 5px 0;
}

.form-buttons {
    margin: 25px 0 0 0;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 45%;
}

.button-back {
    @include whiteButton();
}

.button-back:active {
    @include whiteButtonActive();
}

.button-next {
    @include greenButton();
}

.button-next:active {
    @include greenButtonActive();
}

.form-horitontal {
    display: flex;
    margin: 10px 0;
}

.geo-button-container {
    height: 44px;
}

.geo-button {
    @include greenButton();
    padding: 10px;
    margin: 5px 0;
    width: 100%;
}

.geo-button:active {
    @include greenButtonActive();
}

.grey-button {
    @include greyButton();
}

.grey-button:active {
    @include greyButtonActive();
}


#new-post-submit {
    display: none;
}