// imports
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&family=Sanchez&display=swap');

// variables
$blue: #14bcff;
$paleBlue: #E8F6FD;
$green: #99DA67;
$dark-green: #6c9b48;
$red: #FF5050;
$dark-red: #a33030;

$roboto: 'Roboto', sans-serif;
$sanchez: 'Sanchez', serif;

// mixins
@mixin greenButton {
    background-color: $green;
    border-right: 1px $dark-green solid;
    border-top: 1px $dark-green solid;
    border-bottom: 3px solid $dark-green;
    border-left: 3px solid $dark-green;
    font-size: 1.1rem;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

@mixin greenButtonActive {
    border-top: 1px solid $dark-green;
    border-right: 1px solid $dark-green;
    border-bottom: 1px solid $dark-green;
    border-left: 1px solid $dark-green;
}

@mixin redButton {
    background-color: $red;
    border-right: 1px $dark-red solid;
    border-top: 1px $dark-red solid;
    border-bottom: 3px solid $dark-red;
    border-left: 3px solid $dark-red;
    font-size: 1.1rem;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

@mixin redButtonActive {
    border-top: 1px solid $dark-red;
    border-right: 1px solid $dark-red;
    border-bottom: 1px solid $dark-red;
    border-left: 1px solid $dark-red;
}

@mixin whiteButton {
    background-color: white;
    border-right: 1px #cfcfcf solid;
    border-top: 1px #cfcfcf solid;
    border-bottom: 3px solid #cfcfcf;
    border-left: 3px solid #cfcfcf;
    font-size: 1.1rem;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

@mixin whiteButtonActive {
    border-top: 1px solid #cfcfcf;
    border-right: 1px solid #cfcfcf;
    border-bottom: 1px solid #cfcfcf;
    border-left: 1px solid #cfcfcf;
}

@mixin greyButton {
    background-color: #303030;
    border-top: 1px solid #666666;;
    border-right: 1px solid #666666;
    border-bottom: 3px solid #666666;
    border-left: 3px solid #666666;
    font-size: 1.1rem;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

@mixin greyButtonActive {
    border-top: 1px solid #666666;
    border-right: 1px solid #666666;
    border-bottom: 1px solid #666666;
    border-left: 1px solid #666666;
}

// styles
* {
    margin: 0;
    padding: 0;
    font-family: $roboto;
}

body {
    background-color: white;
}

h1 {
    font-size: 1.8rem;
    margin: 0 0 15px 0;
}

h2 {
    font-size: 1.4rem;
}

h4 {
    margin: 10px 0 10px 0;
}

label {
    margin: 5px 0;
}

.big-anchor {
    text-decoration: none;
    color: $blue;
}

.back-btn-container {
    height: 35px;
}

.back-btn {
    position: relative;
    left: 15px;
    top: 15px;
    @include whiteButton();
    transition: visibility .1s ease-in-out;
}

.back-btn-hide {
    visibility: hidden;
}

.back-btn:active {
    @include whiteButtonActive();
}

// Nav
.navbar {
    position: sticky;
    top: 0px;
    display: grid;
    grid-template-columns: 20% 25% 40% 15%;
    background-color: $blue;
    height: 60px;
    z-index: 1;
}

.nav-logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-logo-container a {
    height: 40px;
}

.nav-logo {
    height: 40px;
}

.nav-user-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-user {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px 0 0;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.nav-user-icon {
    height: 20px;
    margin: 0 0 5px 5px;
}

.loginBtn{
    @include greenButton();
}

.loginBtn:active {
    @include greenButtonActive();
}

.menu-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-icon {
    height: 35px;
    cursor: pointer;
}

.nav-menu-container {
    visibility: hidden;
    opacity: 0;
    background: $blue;
    width: 100%;
    position: absolute;
    height: calc(100vh - 60px);
    transform: translate(0, 60px);
    text-align: right;
    transition: all .1s ease-in-out;
}

.nav-menu {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: space-around;
    height: 60%;
    margin: 0 40px 0 0;
}

.show-menu{
    visibility: visible;
    opacity: 1;
    display: flex;
    justify-content: flex-end;
}

.nav-menu-item {
    text-decoration: none;
    color: black; 
    font-size: 1.2rem;
}

.nav-menu-item:hover{
    color: rgb(56, 56, 56);
}

// Index
.container-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 60px 15px;
}

.logo-map {
    height: 100px;
}

.header-home {
    margin: 35px 0;
    text-align: center;
}

.search-container {
    width: 80%;
    margin: 0 0 30px 0;
}

.home-search-form {
   display: flex; 
   height: 35px;
}

.home-search-input {
    width: 100%;
}

.home-search-submit {
    @include greenButton();
    margin: 0 0 0 2px;
    width: 38px; 
}

.home-search-submit:active {
    @include greenButtonActive();
}

.create-posting-container {
    height:45px;
}

.categories-home{
   display: flex;
   flex-direction: column;
   margin: 60px 15px 20px 15px; 
   align-items: center;
   justify-content: center;
}

.category-container-home {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.category-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25px 10px 10px 10px;
    border-radius: 5px;
    border: 1px solid #666;
    padding: 10px;
    cursor: pointer;
    width: 7.5rem;
    transition: all .2s ease-in-out;
}

.category-home:hover {
    box-shadow:0 5px 8px 0 rgba(0,0,0,0.2),0 2px 6px 0 rgba(0,0,0,0.19);
}

.category-home:active {
    border: 1px solid #666;
}

.category-img {
    height: 35px;
    margin-bottom: 10px;
}

.category-text {
    color: #666666;
    font-weight: bold;
}

// posting
.container-post {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.posts {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
}

.post {
  flex: 45%;
  margin: 2%;
}
.post-img {
  width: 100%;
  height: 80%;
  object-fit: cover;
}

.post-price {
  font-weight: bold;
}

// search results
// use these styles to display post previews 
.result-search-container {
    margin: 40px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter-container {
    background-color: $paleBlue;
    border-radius: 10px;
    width: 80%;
    margin: auto;
    padding-bottom: 10px;
    height: 30px;
    transition: all .1s ease-in-out;
}

.filter-top-bar {
    display:flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.filter-dropdown {
    visibility: hidden;
    opacity: 0%;
}

.filter-dropdown-visibile {
    visibility: visible;
    opacity: 100%;
}

.filter-price-container {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.filter-price {
    width: 60px;
    margin-left: 5px;
}

.filter-category-container {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

#filter-category {
    margin-left: 5px;
}

.filter-condition-container {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

#filter-condition {
    margin-left: 5px;
}

.filter-location-container {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

#filter-location {
    margin-left: 5px;
}

.filter-submit{
    display: flex;
    justify-content: center;
    height: 35px;
}

.posts-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post-card {
    margin-top: 30px;
    box-shadow:0 5px 8px 0 rgba(0,0,0,0.2),0 4px 12px 0 rgba(0,0,0,0.19);
    border-radius: 10px;
    width: 80%;
    height: 150px;
    padding: 0px 10px;
    overflow: hidden;
    text-overflow:ellipsis;
    cursor: pointer;
}

.post-card-title {
    margin: 10px 0 0 0;
}

.post-card-description {
    margin-top: 10px;
    text-overflow:ellipsis;
    overflow:hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

// new posts
.post-form-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.post-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $paleBlue;
    padding: 5%;
    border-radius: 10px;
    width: 85%;
    margin: auto;
}

.step-container {
    display: flex;
    width: 60%;
    justify-content: center;
    margin: 0 0 10px 0;
}

.step-container-hidden {
    display: none;
}

.new-post-input {
    width: 95%;
    padding: 7px;
    border-radius: 5px;
    margin: 10px 0;
    border: 1px solid $blue;
}

.new-post-price {
    display: flex;
    align-items: center;
    text-align: left;
    width: 100%;
}

.new-post-input-price {
    width: 25%;
    padding: 7px;
    border-radius: 5px;
    margin: 10px 0 10px 2px;
    border: 1px solid $blue;
}

.new-post-textarea {
    width: 95%;
    padding: 7px;
    font-size: .8rem;
    border-radius: 5px;
    border: none;
    resize: none;
    margin: 5px 0;
    border: 1px solid $blue;
}

.new-post-upload {
    margin: 20px 0 5px 0;
}

.form-buttons {
    margin: 25px 0 0 0;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 45%;
}

.button-back {
    @include whiteButton();
}

.button-back:active {
    @include whiteButtonActive();
}

.button-next {
    @include greenButton();
}

.button-next:active {
    @include greenButtonActive();
}

.form-horizontal {
    display: flex;
    margin: 10px 0;
    align-items: center;
    justify-content: space-around;
    width: 70%;
}

.form-vertical {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    align-items: center;
}

.input-flex {
    display: flex;
    width: 99%;
}

.geo-button-container {
    height: 44px;
    display: flex;
    margin: 25px 0;
    align-items: center;
}

.geo-button {
    @include greenButton();
    padding: 10px;
    width: 100%;
}

.geo-button:active {
    @include greenButtonActive();
}

.grey-button {
    @include greyButton();
}

.grey-button:active {
    @include greyButtonActive();
}


#new-post-submit {
    display: none;
}

.error-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffc8c8;
    padding: 8px;
    border-radius: 5px;
    width: 90%;
    margin-bottom: 2px;
}

.error {
    font-size: .8rem;
}

.validation-close {
    height: 10px;
    cursor: pointer;
}

.required {
    color: $red;
    transform: translateY(-10px);
}

// post styling
.user-banner { // conditional class only if user owns post
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
    background-color: $paleBlue;
}

.banner-buttons {
    display: flex;
    margin-left: 10%;
}

.banner-button-form {
    height: 34px;
    width: 55px;
}

.edit-post {
    @include greyButton();
    font-size: .9rem;
}

.edit-post:active {
    @include greyButtonActive();
    font-size: .9rem;
}

.delete-post {
    @include redButton();
    font-size: .9rem;
}

.delete-post:active {
    @include redButtonActive();
    font-size: .9rem;
}

.post-container {
    width: 100%;
}

.post-category {
    text-align: left;
    width: 100%;
    margin: 10px 0;
}

.post-title {
    text-align: left;
    width: 100%;
}

.post-date {
    color:rgb(109, 109, 109);
    width: 100%;
    font-size: .9rem;
}

.post-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 75%;
    margin: 15px 0;
    a {
      position: absolute;
    }
}

.post-image {
    max-width: 100%;
    max-height: 100%;
    min-height: 100px;
    display: flex;
    align-items: center;
}

.post-description {
    margin: 0 0 30px 0;
    width: 100%;
}

.post-contact-container {
    height: 35px;
    width: 100%;
}

.contact-seller-btn {
    @include whiteButton();
}

.contact-seller-btn:active {
    @include whiteButtonActive();
}

.post-contact {
    display: none;
}

.image-container {
  display: none;
  height: 100%;
  justify-content: center;
  align-items: center;
  animation-name: fade;
  animation-duration: 1.5s;
  img {
    width: auto;
    height: auto;
  }
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.preBtn {
  left: 5%;
}

.nxtBtn {
  right: 5%;
}

.additional-post-info-container {
    background-color: $paleBlue;
    border-radius: 10px;
    width: 90%;
    padding: 15px;
}

.condition-map-container{
    width: 100%;
}

.additional-post-info {
    margin: 10px 0;
}

#map {
    margin: 20px auto;
    width: 100%;
    max-width: 400px;
    height: 300px;
}

//Profile
.profile-form-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.profile-button-container {
  display: flex;
  width: 80%;
  align-self: center;
}

.settings-input-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 1rem auto;
}

.button-apply {
  @include greenButton();
  margin-top: 1rem;
}

.profile-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $paleBlue;
  padding: 5%;
  border-radius: 10px;
  width: 85%;
  margin: auto;
}

// explore
.categories {
    display: flex;
    flex-direction: column;
    margin: 40px 15px; 
    align-items: center;
}

// categories
.category-search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 25px 0;
}

.container-header {
    margin: 40px 15px;
}


@media only screen and (min-width: 600px) {
    .container-center {
        margin: 100px 60px;
    }

    p {
        font-size: 1.1rem;
    }

    h3 {
        font-size: 1.4rem;
    }


    .back-btn {
        left: 25px;
        top: 25px;
    }

    // index
    .logo-map {
        height: 150px;
    }    

    .search-container { 
        width: 65%;
    }

    .home-search-input {
        width: 100%;
        font-size: 1.1rem;
        padding: 20px 5px;
    }

    .home-search-form {
        width: 100%;
    }

    .home-search-submit {
        height: 40px;
        width: 40px;
    }

    .category-home {
        margin: 35px 20px 20px 20px;
        width: 9rem;
    }

    .nav-user-container {
        justify-content: flex-end;
    }

    // search results
    .result-search-container {
        width: 65%;
    }
    
    .posts-card-container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .post-card {
        width: 20rem;
        margin: 15px;
        height: 180px;
    }

    .filter-container {
        margin: 25px auto;
    }

    // category
    .category-search-container {
        width: 65%;
        margin: 25px auto;
    }

    #map {
        height: 400px;
    }

    // new-post
    label {
        font-size: 1.1rem;
    }

    .new-post-input, .new-post-input-price, .new-post-textarea {
        font-size: 1.1rem;
    }

    .form-horizontal {
        width: 250px;
    }

    // explore
    .categories {
        margin: 80px 60px;
    }
}

@media only screen and (min-width: 900px) {

    .container-center {
        margin: 100px 8rem;
    }

    // nav and menu
    .navbar {
        grid-template-columns: 20% 60% 20%;
        grid-template-rows: 1fr;
    }
    
    .nav-menu-container {
        visibility: visible;
        opacity: 1;
        position: static;
        transform: none;
        height: auto;
        width: auto;
        grid-row-start: 1;
        grid-column-start: 2;
        display: flex;
        align-items: center;    
        justify-content: space-around;
    }

    .nav-menu {
        flex-direction: row;
        align-items: center;
        width: 100%;
    }

    .nav-menu-item {
        font-size: 1.1rem;
    }

    .nav-user-container {
        grid-row-start: 1;
        grid-column-start: 3;
        justify-content: center;
    }

    .nav-user {
        width: 100%;
    }

    .menu-icon-container {
        display: none;
    }

    #login {
        display: none;
    }

    // search results
    .post-card {
        width: 24rem;
        margin: 15px;
        height: 180px;
    }

    .post-description {
        margin-bottom: 40px;
    }

    .condition-map-container {
        display: flex;
    }

    .additional-post-info-container {
        margin: 20px 20px 20px 0;
        height: 50%;
        max-width: 400px;
    }

    // explore
    .categories {
        margin: 80px 7rem;
    }
}


@media only screen and (min-width: 1200px) {
    .container-center {
        max-width: 944px;
        margin: 100px auto;
    }

    // search results
    .posts-card-container {
        max-width: 1200px;
        margin: auto;
    }

    .home-search-form {
        max-width: 780px;
    }
    
    .filter-container {
        max-width: 960px;
    }

    // explore
    .categories {
        margin: 80px auto;
        max-width: 976px;
    }
}