<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Categories</title>
</head>

<body class='posting'>
    <nav class="navbar">
        <div class="nav-logo-container">
            <a href="/"><img class="nav-logo" src="/img/Logo.svg" alt="Craigslist Logo"></a>
        </div>
        <div></div>
        <div class="nav-user-container">
            <% if (user) { %>
                <a href="/user/profile" class="nav-user"><%= user.nickname %><img src="/img/user.svg" alt="" class="nav-user-icon"></a>
            <% } else {%>
                <form action="/login" method="GET">
                    <input class="loginBtn" type="submit" value="Login">
                </form>
            <% }%>
        </div>
        <div class="menu-icon-container">
            <img src="/img/menu.svg" alt="Mobile Menu" class="menu-icon">
        </div>
        <div class="nav-menu-container">
            <ul class="nav-menu">
                <li><a class="nav-menu-item" href="/">Home</a></li>
                <li><a class="nav-menu-item" href="/categories">Explore</a></li>
                <% if (user) { %>
                    <li><a class="nav-menu-item" href="/user/profile">Profile</a></li>
                    <li><a class="nav-menu-item" href="/logout">Logout</a></li>
                <% } else { %>
                    <li><a class="nav-menu-item" href="/login">Login</a></li>
                <% } %>
            </ul>
        </div>
    </nav>
  <main>
      <div class="back-btn-container">
        <button class="back-btn">Back</button>
      </div>
    <div class="categories">
        <h2>Categories</h2>
        <div class="category-container-home">
            <div class="category-home" onclick="location.href='/categories/Computers';">
                <img src="/img/computers.svg" alt="Computers Category Icon" class="category-img">
                <p class="category-text">Computers</p> 
            </div>
            <div class="category-home" onclick="location.href='/categories/Cars & Trucks';">
                <img src="/img/cars&trucks.svg" alt="Cars & Trucks Category Icon" class="category-img">
                <p class="category-text">Cars & Trucks</p>   
            </div>
            <div class="category-home" onclick="location.href='/categories/Electronics';">
                <img src="/img/electronics.svg" alt="Cars & Trucks Category Icon" class="category-img">
                <p class="category-text">Electronics</p>   
            </div>
        </div>
    </div>
  </main>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/js/menu.js"></script>
  <script src="/js/back.js"></script>
</body>
</html>