<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>FAQ</title>
</head>

<body class='posting'>
  <nav class="navbar">
    <div class="nav-logo-container">
      <a href="/"><img class="nav-logo" src="/img/Logo.svg" alt="Craigslist Logo"></a>
    </div>
    <div></div>
    <div class="nav-user-container">
      <% if (user) { %>
        <a href="/user/profile" class="nav-user">
          <%= user.nickname %><img src="/img/user.svg" alt="" class="nav-user-icon">
        </a>
        <% } else {%>
          <form action="/login" method="GET">
            <input class="loginBtn" type="submit" value="Login">
          </form>
          <% }%>
    </div>
    <div class="menu-icon-container">
      <img src="/img/menu.svg" alt="Mobile Menu" class="menu-icon">
    </div>
    <div class="nav-menu-container">
      <ul class="nav-menu">
        <li><a class="nav-menu-item" href="/">Home</a></li>
        <li><a class="nav-menu-item" href="/categories">Explore</a></li>
        <% if (user) { %>
          <li><a class="nav-menu-item" href="/user/profile">Profile</a></li>
          <li><a class="nav-menu-item" href="/other/contact">Contact Us</a></li>
          <li><a class="nav-menu-item" id="logout" href="/logout">Logout</a></li>
      <% } else { %>
          <li><a class="nav-menu-item" href="/other/contact">Contact Us</a></li>
          <li id="login"><a class="nav-menu-item" href="/login">Login</a></li>
      <% } %>
      </ul>
    </div>
  </nav>
  <main>
    <div class="back-btn-container">
      <button class="back-btn">Back</button>
    </div>
    <div class="container-center other-page">
      <h1>FAQ</h1>
      <div class="question">
        <h2>How do I post a free posting?</h2>
        <p>You can post a free ad without having an account or logging in to our site.
          To learn how, please read our help page on how to create a free post. 
          However, having a craigslist account will allow you to post, edit, delete, and repost more easily.</p>
      </div>
      <div class="question">
        <h2>How can I edit my posting?</h2>
        <p>Edits for postings are now self-service.
          If you posted while logged in to your account, you can edit from your account homepage.
          Otherwise, use the link provided in the same self-posting email you used originally to self-post. If you can't find this, try having it re-sent.</p>
      </div>
      <div class="question">
        <h2>How can I delete my posting?</h2>
        <p>If you posted using an account, you can delete your posting from your account homepage.
          Otherwise, use the same link provided in the self-posting email that you used to post the ad originally. 
          If you can't find this, try having it re-sent.
          Please note, all postings are automatically deleted upon expiration.</p>
      </div>
    </div>
  </main>
  <footer>
    <ul>
      <li><a href="/other/faq">FAQ</a></li>
      <li><a href="/other/terms">Terms of Use</a></li>
      <li><a href="/other/privacy">Privacy</a></li>
    </ul>
  </footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/js/menu.js"></script>
  <script src="/js/back.js"></script>
</body>

</html>