<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Welcome to Craigslist</title>
</head>
<body>
    <nav class="navbar">
        <div></div>
        <div class="nav-logo-container">
            <img class="nav-logo" src="./img/Logo.svg" alt="Craigslist Logo">
        </div>
        <div class="nav-user-container">
            <% if (user) { %>
                <a href="/user/profile" class="nav-user"><%= user %></a>
            <% } %>
        </div>
        <div class="menu-icon-container">
            <img src="./img/menu.svg" alt="Mobile Menu" class="menu-icon">
        </div>
        <div class="nav-menu">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Explore</a></li>
                <% if (user) { %>
                    <li><a href="/logout">Logout</a></li>
                <% } else { %>
                    <li><a href="/login">Login</a></li>
                <% } %>
            </ul>
        </div>
    </nav>
    <main class="container">
        <p>Homepage</p>
        <form action="/login" method="GET">
            <input type="submit" value="login">
        </form>
        <form action="/logout" method="GET">
            <input type="submit" value="logout">
        </form>
    </main>
    <script src="./js/menu.js"></script>
</body>
</html>