<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Posting</title>
</head>
<body>
  <div class='container'>
    <div class='nav-user-container'>
      <p><a href="/user/profile">Profile</a></p>
      <p><a href="">Posting</a></p>
    </div>
    <div class='container-post'>
      <p class='post-title'>Current Posting</p>
      <div class='post'>
        <img src="/asset/red-car.jpg" alt="red car">
        <div class='post-detail'>
          <p class='price'>$150,000</p>
          <p class='desc'>Porsche 911</p>
          <p class='city'>Richmond</p>
        </div>
      </div>
    </div>
    <form action="/logout" method="GET">
      <input type="submit" value="logout">
  </form>
  </div>
</body>
</html>