<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>privacy policy</title>
</head>

<body class='posting'>
  <nav class="navbar">
    <div class="nav-logo-container">
      <a href="/"><img class="nav-logo" src="/img/Logo.svg" alt="Craigslist Logo"></a>
    </div>
    <div></div>
    <div class="nav-user-container">
      <% if (user) { %>
        <a href="/user/profile" class="nav-user">
          <%= user.nickname %><img src="/img/user.svg" alt="" class="nav-user-icon">
        </a>
        <% } else {%>
          <form action="/login" method="GET">
            <input class="loginBtn" type="submit" value="Login">
          </form>
          <% }%>
    </div>
    <div class="menu-icon-container">
      <img src="/img/menu.svg" alt="Mobile Menu" class="menu-icon">
    </div>
    <div class="nav-menu-container">
      <ul class="nav-menu">
        <li><a class="nav-menu-item" href="/">Home</a></li>
        <li><a class="nav-menu-item" href="/categories">Explore</a></li>
        <% if (user) { %>
          <li><a class="nav-menu-item" href="/user/profile">Profile</a></li>
          <li><a class="nav-menu-item" href="/other/contact">Contact Us</a></li>
          <li><a class="nav-menu-item" id="logout" href="/logout">Logout</a></li>
      <% } else { %>
          <li><a class="nav-menu-item" href="/other/contact">Contact Us</a></li>
          <li id="login"><a class="nav-menu-item" href="/login">Login</a></li>
      <% } %>
      </ul>
    </div>
  </nav>
  <main>
    <div class="back-btn-container">
      <button class="back-btn">Back</button>
    </div>
    <div class="container-center other-page">
      <h1>Privacy Policy</h1>
      <h2>Protecting your privacy</h2>
      <ul>
        <li>We take precautions to prevent unauthorized access to or misuse of data about you.</li>
        <li>We do not run ads, other than the classifieds posted by our users.</li>
        <li>We do not share your data with third parties for marketing purposes.</li>
        <li>We do not engage in cross-marketing or link-referral programs.</li>
        <li>We do not employ tracking devices for marketing purposes.</li>
        <li>We do not send you unsolicited communications for marketing purposes.</li>
        <li>We do not engage in affiliate marketing (and prohibit it on CL).</li>
        <li>We do provide email proxy & relay services to reduce unwanted email.</li>
        <li>Please review privacy policies of any third party sites linked to from CL.</li>
        <li>We do not respond to "Do Not Track" signals (see allaboutdnt.com).</li>
      </ul>
    </div>
  </main>
  <footer>
    <ul>
      <li><a href="/other/faq">FAQ</a></li>
      <li><a href="/other/terms">Terms of Use</a></li>
      <li><a href="/other/privacy">Privacy</a></li>
    </ul>
  </footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/js/menu.js"></script>
  <script src="/js/back.js"></script>
</body>

</html>