<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Terms of Use</title>
</head>

<body class='posting'>
  <nav class="navbar">
    <div class="nav-logo-container">
      <a href="/"><img class="nav-logo" src="/img/Logo.svg" alt="Craigslist Logo"></a>
    </div>
    <div></div>
    <div class="nav-user-container">
      <% if (user) { %>
        <a href="/user/profile" class="nav-user">
          <%= user.nickname %><img src="/img/user.svg" alt="" class="nav-user-icon">
        </a>
        <% } else {%>
          <form action="/login" method="GET">
            <input class="loginBtn" type="submit" value="Login">
          </form>
          <% }%>
    </div>
    <div class="menu-icon-container">
      <img src="/img/menu.svg" alt="Mobile Menu" class="menu-icon">
    </div>
    <div class="nav-menu-container">
      <ul class="nav-menu">
        <li><a class="nav-menu-item" href="/">Home</a></li>
        <li><a class="nav-menu-item" href="/categories">Explore</a></li>
        <% if (user) { %>
          <li><a class="nav-menu-item" href="/user/profile">Profile</a></li>
          <li><a class="nav-menu-item" href="/other/contact">Contact Us</a></li>
          <li><a class="nav-menu-item" id="logout" href="/logout">Logout</a></li>
      <% } else { %>
          <li><a class="nav-menu-item" href="/other/contact">Contact Us</a></li>
          <li id="login"><a class="nav-menu-item" href="/login">Login</a></li>
      <% } %>
      </ul>
    </div>
  </nav>
  <main>
    <div class="back-btn-container">
      <button class="back-btn">Back</button>
    </div>
    <div class="container-center other-page">
      <h1>Terms of Use</h1>
        <p><span>LICENSE.</span> If you agree to the TOU and (1) are of sufficient age and capacity to use CL and be bound by the TOU, 
          or (2) use CL on behalf of a business, thereby binding that business to the TOU,
           we grant you a limited, revocable, non-exclusive, non-assignable license to use CL in compliance with the TOU; unlicensed use is unauthorized. 
           You agree not to display, "frame," make derivative works, distribute, license, or sell, content from CL, excluding postings you create. 
           You grant us a perpetual, irrevocable, unlimited, worldwide, 
           fully paid/sublicensable license to use, copy, display, distribute, and make derivative works from content you post.</p>
    </div>
  </main>
  <footer>
    <ul>
      <li><a href="/other/faq">FAQ</a></li>
      <li><a href="/other/terms">Terms of Use</a></li>
      <li><a href="/other/privacy">Privacy</a></li>
    </ul>
  </footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/js/menu.js"></script>
  <script src="/js/back.js"></script>
</body>

</html>