@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@0,700;1,400&family=Sanchez&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif; }

h1 {
  font-size: 1.8rem;
  margin: 0 0 15px 0; }

.navbar {
  display: grid;
  grid-template-columns: 20% 25% 40% 15%;
  background-color: #14bcff;
  height: 8vh; }

.nav-logo-container {
  display: flex;
  align-items: center;
  justify-content: center; }

.nav-logo {
  height: 45px; }

.nav-user-container {
  display: flex;
  align-items: center;
  justify-content: center; }

.nav-user {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px 0 0;
  text-decoration: none;
  color: black; }

.nav-user-icon {
  height: 20px;
  margin: 0 0 5px 5px; }

.loginBtn {
  background-color: #99DA67;
  border-top: none;
  border-right: none;
  border-bottom: 3px solid #6c9b48;
  border-left: 3px solid #6c9b48;
  font-size: 1.1rem;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer; }

.loginBtn:active {
  border-top: none;
  border-right: none;
  border-bottom: 0px solid #6c9b48;
  border-left: 0px solid #6c9b48; }

.menu-icon-container {
  display: flex;
  align-items: center;
  justify-content: center; }

.menu-icon {
  height: 40px;
  cursor: pointer; }

.nav-menu-container {
  visibility: hidden;
  opacity: 0;
  background: #14bcff;
  width: 100%;
  position: absolute;
  height: 92vh;
  transform: translate(0, 8vh);
  text-align: right;
  transition: all .2s ease-in-out; }

.nav-menu {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  justify-content: space-around;
  height: 60%;
  margin: 0 40px 0 0; }

.show-menu {
  visibility: visible;
  opacity: 1;
  display: flex;
  justify-content: right; }

.nav-menu-item {
  text-decoration: none;
  color: black;
  font-size: 1.2rem; }

.nav-menu-item:hover {
  color: #383838; }

.container-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 60px 15px; }

.header-home {
  margin: 35px 0;
  text-align: center; }

.search-container {
  margin: 0 0 35px 0; }

.home-search-form {
  display: flex; }

.home-search-submit {
  background-color: #99DA67;
  border-top: none;
  border-right: none;
  border-bottom: 3px solid #6c9b48;
  border-left: 3px solid #6c9b48;
  font-size: 1.1rem;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 0 0 2px; }

.home-search-submit:active {
  border-top: none;
  border-right: none;
  border-bottom: 0px solid #6c9b48;
  border-left: 0px solid #6c9b48; }

.post-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E8F6FD;
  padding: 20px;
  border-radius: 10px; }

.new-post-input {
  width: 95%;
  border: none;
  padding: 7px;
  border-radius: 5px;
  margin: 5px 0;
  border: 1px solid #14bcff; }

.new-post-textarea {
  width: 95%;
  padding: 7px;
  font-size: .9rem;
  border-radius: 5px;
  border: none;
  resize: none;
  margin: 5px 0;
  border: 1px solid #14bcff; }

.form-horitontal {
  display: flex;
  margin: 5px 0; }
