@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@0,700;1,400&family=Sanchez&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif; }

.navbar {
  display: grid;
  grid-template-columns: 20% 30% 35% 15%;
  background-color: #14bcff;
  height: 8vh; }

.nav-logo-container {
  display: flex;
  align-items: center;
  justify-content: center; }

.nav-logo {
  height: 45px; }

.nav-user-container {
  display: flex;
  align-items: center;
  justify-content: center; }

.nav-user {
  margin: 0 10px 0 0;
  text-decoration: none;
  color: black; }

.loginBtn {
  background-color: #99DA67;
  border: 1px solid;
  font-size: 1.1rem;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer; }

.menu-icon-container {
  display: flex;
  align-items: center;
  justify-content: center; }

.menu-icon {
  height: 40px;
  cursor: pointer; }

.nav-menu-container {
  visibility: hidden;
  opacity: 0;
  background: #14bcff;
  width: 100%;
  position: absolute;
  height: 92vh;
  transform: translate(0, 8vh);
  text-align: right;
  transition: all .2s ease-in-out; }

.nav-menu {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  justify-content: space-around;
  height: 60%;
  margin: 0 40px 0 0; }

.show-menu {
  visibility: visible;
  opacity: 1;
  display: flex;
  justify-content: right; }

.nav-menu-item {
  text-decoration: none;
  color: black;
  font-size: 1.2rem; }
